body, ul, li {
    margin:0;
    list-style:none;
    padding:0;
}

a {
    color:inherit;
    text-decoration:none;
}

a:hover {
    color:sienna;
}

#container {
    position: relative;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    opacity:0.5;
}

#main {
    position:relative;
}

#content {
    position:absolute;
    width:90%;
    height:90vh;
    top:5%;
    left:5%;
    background:white;
    padding:50px;
    border-radius:15px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background:tan;
    padding:30px;
    border-radius:20px;
    width:50%;
    height:400px;
    border:2px solid black;
}

#loginBtn {
    width:25%;
    height:90px;
    background:white;
    color:black;
    font-weight:bold;
    border:0.1px solid black;
}

#loginBtn:hover {
    background:tan;
    color:white;
    border:0.1px solid tan;
}

#signupBtn {
    width:100%;
    background:white;
    color:black;
    font-weight:bold;
    border:0.1px solid black;
}

#signupBtn:hover {
    background:tan;
    color:white;
    border:0.1px solid tan;;
}

.버튼 {
    background:peachpuff;
    border:0.1px solid black;
    color:black;
}

.버튼.active {
    background:burlywood;
    color:saddlebrown;
    font-weight:bold;
    border:0.3px solid saddlebrown;
}

.버튼:hover {
    color:sienna;
    background:peachpuff;
    border:0.1px solid;
    font-weight:bold;
}

.card-container {
    max-height: 700px;
    overflow: hidden;
}

.acContainer {
    max-height:500px;
    overflow: hidden;
}

.card-container:hover {
    overflow: scroll;
}

.acContainer:hover {
    overflow: scroll;
}

.card-container::-webkit-scrollbar {
    width:8px;
}

.acContainer::-webkit-scrollbar {
    width:8px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: tan;
}

.acContainer::-webkit-scrollbar-thumb {
    background-color: tan;
}

.card-container::-webkit-scrollbar-track {
    background-color: linen;
}

.acContainer::-webkit-scrollbar-track {
    background-color: linen;
}

.fc-event-time,
.fc-event-title {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}


