body, ul, li {
    margin:0;
    list-style:none;
    padding:0;
}

a {
    color:inherit;
    text-decoration:none;
}

#container {
    position: relative;
    text-align: center;
}

.image {
    width: 100%;
    height: auto;
    opacity:0.5;
}

#main {
    position:relative;
}

#content {
    position:absolute;
    width:90%;
    height:90vh;
    top:5%;
    left:5%;
    background:white;
    padding:50px;
    border-radius:15px;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background:lightsalmon;
    padding:30px;
    border-radius:20px;
    width:50%;
    height:400px;
}

#loginBtn {
    width:25%;
    height:90px;
    background:white;
    color:darksalmon;
    font-weight:bold;
    border:0.1px solid lightsalmon;
}

#loginBtn:hover {
    background:lightsalmon;
    color:white;
    border:0.1px solid white;;
}

#signupBtn {
    width:100%;
    background:white;
    color:darksalmon;
    font-weight:bold;
    border:0.1px solid lightsalmon;
}

#signupBtn:hover {
    background:lightsalmon;
    color:white;
    border:0.1px solid white;;
}
