<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>Wait..</title>
</head>
<body>
<div style="position:absolute;left:30%;top:30%;display:flex;align-items:center;">
    <h1>데이터 수집중..</h1>
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<!-- 여기 아래는 건들지 마슈 -->
<form th:action="@{/map/view}" id="viewMap" method="get">
    <input type="hidden" id="inputAddress" name="inputAddress">
    <input type="hidden" id="lat" name="lat">
    <input type="hidden" id="lon" name="lon">
</form>
<script>
    var token = $("meta[name='_csrf']").attr("content");
    var header = $("meta[name='_csrf_header']").attr("content");
    $(function() {
        $(document).ajaxSend(function(e, xhr, options) {
            xhr.setRequestHeader(header, token);
        });
    });
</script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ea7706d3cd280b86aceebdabe80d16f0&libraries=services"></script>
<script th:inline="javascript">
    var inputAddress = [[${inputAddress}]];

    if (inputAddress == 'aroundMe') {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {

                var lat = position.coords.latitude,
                    lon = position.coords.longitude;

                var locPosition = new kakao.maps.LatLng(lat, lon);

                createRes(locPosition, lat, lon, inputAddress);
            });
        }
    } else {
        var geocoder = new kakao.maps.services.Geocoder();
        geocoder.addressSearch(inputAddress, function(result, status) {

             if (status === kakao.maps.services.Status.OK) {

                var coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                createRes(coords, result[0].y, result[0].x, inputAddress);
            }
        });
    }

    function createRes(dataLocation, lat, lon, inputVal) {
        var places = new kakao.maps.services.Places();

        var callback = function(result, status, pagination) {
            if (status === kakao.maps.services.Status.OK) {
                pagination.nextPage();
                $.ajax({
                    type: 'post',
                    contentType: "application/json",
                    url: '/getData',
                    data: JSON.stringify(result),
                    success: function(success) {
                        submit(lat, lon, inputVal);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            }
        };

        places.categorySearch('FD6', callback, {
            location:dataLocation
        });
    }

    function submit(lat, lon, inputVal) {
        $('#lat').val(lat);
        $('#lon').val(lon);
        $('#inputAddress').val(inputVal);
        $('#viewMap').submit();
    }
</script>
</body>
</html>