<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <style>
        * {font-family: 'IBM Plex Sans KR', sans-serif;}
    </style>
    <title>Title</title>
</head>
<body>
<nav th:replace="~{navbar :: navbarFragment}"></nav>
    <div id="main">
        <div id="background" style="background:tan; width:100%; height:100vh;">
            <div id="content">
                <th:block layout:fragment="content" class="content"></th:block>
            </div>
        </div>
    </div>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
<th:block layout:fragment="script"></th:block>
</body>
</html>