<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div id="main">
        <img src="/mainImage.jpg" alt="" id="image">
        <div id="content">
            <div class="d-flex justify-content-around">
                <div style="width:8%;">
                    <button class="mb-3" onclick="aroundMe()">내 위치 주변</button>
                    <button onclick="searchForAddress()">주소 검색</button>
                </div>
                <div id="map" style=""></div>
                <div style="width:17%; height:50vh; border:1px solid black; background:white; padding:10px;">
                    <h1>유저 정보</h1>
                    <a href="/restaurant/register" class="btn btn-dark">가게 등록</a>
                </div>
            </div>
        </div>
        <form th:action="@{/map/view}" method="get" id="address">
            <input type="hidden" id="inputAddress" name="inputAddress">
        </form>
        <input type="hidden" id="searchAddress" th:value="${inputAddress}">
    </div>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ea7706d3cd280b86aceebdabe80d16f0&libraries=services"></script>
    <script type="text/javascript" th:src="@{/map.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function searchForAddress() {
            new daum.Postcode({
                oncomplete: function(data) {
                    document.querySelector('#inputAddress').value = data.address;
                    document.querySelector('#address').submit();
                }
            }).open();
        }

        function aroundMe() {
            document.querySelector('#inputAddress').value = 'aroundMe';
            document.querySelector('#address').submit();
        }
    </script>
</div>
</html>