<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div style="width:30%; font-size:15pt; margin:0 auto; margin-top:50px;">
        <h3 class="border-bottom pb-2 mb-3">비밀번호 변경</h3>
        <form th:action="@{|/user/update/${user.username}|}" method="post" id="update_form">
            <div class="mb-3">
                <label for="password1" class="form-label">비밀번호</label>
                <input type="password" name="password1" id="password1" class="form-control">
            </div>
            <div class="mb-3">
                <label for="password2" class="form-label">비밀번호 확인</label>
                <input type="password" name="password2" id="password2" class="form-control">
            </div>
            <div class="d-flex justify-content-end">
                <input type="button" value="저장 >" id="btn_update" class="fw-bold btn">
            </div>
        </form>
        <script>
            document.querySelector("#btn_update").addEventListener('click', function() {
                console.log(document.querySelector("#password1").value);
                if (document.querySelector("#password1").value == "")
                    alert("비밀번호를 입력해주세요.");
                else if (document.querySelector("#password2").value == "")
                    alert("비밀번호 확인을 입력해주세요.");
                else if (document.querySelector("#password1").value != document.querySelector("#password2").value)
                    alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                else
                    document.querySelector("#update_form").submit();
            });

        </script>
    </div>
</div>
</html>