<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="d-flex justify-content-center align-items-center">
        <div style="padding:30px; width:80%;">
            <h3 class="border-bottom pb-2 mb-2">가게 등록</h3>
            <form method="post" th:object="${restaurantRegisterForm}" enctype="multipart/form-data">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="form-floating mb-3">
                    <input type="text" placeholder="이름" th:field="*{name}" class="form-control">
                    <label for="name" class="form-label">가게 이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" placeholder="대표 번호" th:field="*{number}" class="form-control">
                    <label for="number" class="form-label">대표 번호</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" placeholder="메인 메뉴" th:field="*{main}" class="form-control">
                    <label for="number" class="form-label">메인 메뉴</label>
                </div>
                <div class="mb-3">
                    <textarea rows="5" placeholder="가게 소개" th:field="*{introduce}" class="form-control"></textarea>
                </div>
                <div class="mb-3">
                    <div class="d-flex">
                        <input type="text" th:field="*{address}" placeholder="주소" class="form-control me-2" readonly>
                        <input class="버튼 btn" type="button" onclick="findAddress();" value="주소 찾기">
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="mb-1">대표 사진</label>
                    <input class="form-control" type="file" id="image" name="image" accept="image/*">
                </div>
                <div class="mb-3">
                    <label for="time" class="mb-1">영업 시간</label>
                    <div class="d-flex">
                        <div class="me-2">
                            <label for="startTime" style="color:gray">OPEN</label>
                            <input type="text" th:field="*{startTime}" class="flatpickr form-control"
                                   data-enable-time="true" data-no-calendar="true">
                        </div>
                        <div>
                            <label for="endTime" style="color:gray">CLOSE</label>
                            <input type="text" th:field="*{endTime}" class="flatpickr form-control"
                            data-enable-time="true" data-no-calendar="true">
                        </div>
                    </div>
                </div>
                <label class="form-label">편의 시설 및 서비스</label>
                <div class="d-flex mb-2">
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" value="주차장" th:field="*{facilities}">
                        <label class="form-check-label">주차장</label>
                    </div>
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" value="놀이방" th:field="*{facilities}">
                        <label class="form-check-label">놀이방</label>
                    </div>
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" value="무선 인터넷" th:field="*{facilities}">
                        <label class="form-check-label">무선 인터넷</label>
                    </div>
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" value="포장" th:field="*{facilities}">
                        <label class="form-check-label">포장</label>
                    </div>
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" value="배달" th:field="*{facilities}">
                        <label class="form-check-label">배달</label>
                    </div>
                    <div class="form-check me-2">
                        <input class="form-check-input" type="checkbox" value="단체석" th:field="*{facilities}">
                        <label class="form-check-label">단체석</label>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <input class="버튼 btn" type="submit" value="등록" id="regBtn">
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script layout:fragment="script" type='text/javascript'>
        function findAddress() {
            new daum.Postcode({
                oncomplete: function(data) {
                var addr = '';
                var extraAddr = '';
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                }
                document.getElementById("address").value = addr;
                }
            }).open();
        }

        flatpickr("#startTime", {
              enableTime: true,
              noCalendar: true,
              dateFormat: "H:i", // 시간만 표시하도록 설정
            });

        flatpickr("#endTime", {
              enableTime: true,
              noCalendar: true,
              dateFormat: "H:i", // 시간만 표시하도록 설정
            });
    </script>
</div>
</html>