<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <h3>가게 등록</h3>
    <form method="post" id="regForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div>
            <label for="name" class="form-label">가게 이름</label>
            <input type="text" placeholder="이름" name="name" id="name">
        </div>
        <div>
            <label for="address" class="form-label">가게 주소</label>
            <input type="text" id="address" placeholder="주소" name="address">
            <input type="button" onclick="findAddress();" value="주소 찾기">
        </div>
        <div>
            <label for="number" class="form-label">가게 전화번호</label>
            <input type="text" placeholder="전화번호" name="number" id="number">
        </div>
        <input type="submit" value="등록" id="regBtn">
    </form>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script layout:fragment="script" type='text/javascript'>
        function findAddress() {
            new daum.Postcode({
                oncomplete: function(data) {
                var addr = '';
                var extraAddr = '';
                if (data.userSelectedType === 'R') {
                    addr = data.roadAddress;
                } else {
                    addr = data.jibunAddress;
                }
                if(data.userSelectedType === 'R'){
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                }
                document.getElementById("address").value = addr;
                }
            }).open();
        }

        document.querySelector("#regBtn").addEventListener('click', function() {
            if(document.querySelector("#name").value == "")
                alert("가게 이름을 입력해주세요.");
            if(document.querySelector("#address").value == "")
                alert("가게 주소를 입력해주세요.");
            if(document.querySelector("#number").value == "")
                alert("가게 전화번호를 입력해주세요.");
            else
                document.querySelector("#regForm").submit();
        });
    </script>
</div>
</html>