<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Password Reset</title>-->
<!--</head>-->
<!--<body>-->

<!--<h2>비밀번호 변경</h2>-->

<!--<form th:action="@{/user/resetPassword/${token}}" method="post">-->
<!--    <input type="hidden" name="token" th:value="${token}">-->

<!--    <label for="newPassword">새로운 비밀번호:</label>-->
<!--    <input type="password" id="newPassword" name="newPassword" required>-->
<!--    <br>-->
<!--    <label for="confirmPassword">비밀번호 확인:</label>-->
<!--    <input type="password" id="confirmPassword" name="confirmPassword" required>-->
<!--    <br>-->
<!--    <input type="submit" value="비밀번호 변경">-->
<!--</form>-->
<!--</body>-->
<!--</html>-->

<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
    <h5 class="my-3 border-bottom pb-2">비밀번호 변경</h5>

    <form th:action="@{/user/resetPassword/${token}}" method="post">
        <input type="hidden" name="token" th:value="${token}">

        <div class="mb-3">
            <label for="newPassword" class="form-label">새로운 비밀번호:</label>
            <input type="password" id="newPassword" name="newPassword" required>
        </div>

        <div class="mb-3">
            <label for="confirmPassword" class="form-label">비밀번호 확인:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>
        </div>

        <input type="submit" value="비밀번호 변경" class="btn btn-primary my-2">
    </form>
</div>
</html>