<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="d-flex justify-content-between">
        <!-- 가게 상세 정보 -->
        <div class="card" style="width:30%; height:80vh;">
            <img src="/image/startImage.jpg"
                 class="card-img-top" style="height:300px;">
            <div class="card-header" style="background:linen;">
                <!-- 가게 이름 & 주 메뉴 -->
                <span th:text="${restaurant.name}" class="fw-bold fs-4 me-1"></span>
                <span th:text="${restaurant.main}"></span>
            </div>
            <div class="card-body">
                <div class="card-text">
                    <!-- 가게 주소 -->
                    <label for="address" class="border-bottom mb-1" style="font-size:11pt; color:dimgray;">주소</label>
                    <div th:if="${restaurant.address == null}">제공 정보 없음</div>
                    <div class="d-flex align-items-center mb-2" style="font-size:13pt;"
                         th:if="${restaurant.address != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-geo-alt me-1" viewBox="0 0 16 16">
                            <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z"/>
                            <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        <span th:text="${restaurant.address}" style="cursor: pointer;" id="copyAddress"></span>
                    </div>
                    <!-- 가게 전화번호 -->
                    <label for="number" class="border-bottom mb-1" style="font-size:11pt; color:dimgray;">전화번호</label>
                    <div th:if="${restaurant.number == null}">제공 정보 없음</div>
                    <div class="d-flex align-items-center mb-2" th:if="${restaurant.number != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-telephone me-1" viewBox="0 0 16 16">
                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                        </svg>
                        <span th:text="${restaurant.number}"></span>
                    </div>
                    <!-- 가게 영업시간 -->
                    <label for="time" class="border-bottom mb-1" style="font-size:11pt; color:dimgray;">영업시간</label>
                    <div th:if="${restaurant.startTime == null && restaurant.endTime == null}">제공 정보 없음</div>
                    <div class="d-flex align-items-center mb-2"
                         th:if="${restaurant.startTime != null && restaurant.endTime != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-clock me-1" viewBox="0 0 16 16">
                            <path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"/>
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z"/>
                        </svg>
                        <span th:text="|${restaurant.startTime} - ${restaurant.endTime}|"></span>
                    </div>
                    <label for="facilities" class="border-bottom mb-1" style="font-size:11pt; color:dimgray;">편의 시설 및
                        서비스</label>
                    <!-- 가게 편의 시설 및 서비스 -->
                    <div th:if="${restaurant.facilities == null}">제공 정보 없음</div>
                    <div class="d-flex align-items-center mb-2" th:if="${restaurant.facilities != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-info-circle me-1" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
                        </svg>
                        <div th:each="facility, stat : ${restaurant.facilities}">
                            <span th:text="${facility}"></span>
                            <span th:if="${!stat.last}">,</span>
                        </div>
                    </div>
                    <!-- 가게 소개 -->
                    <label for="introduce" class="border-bottom mb-1" style="font-size:11pt; color:dimgray;">소개</label>
                    <div th:if="${restaurant.introduce == null}">제공 정보 없음</div>
                    <div class="d-flex align-items-center mb-2" th:if="${restaurant.introduce != null}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-chat-left-text me-1" viewBox="0 0 16 16">
                            <path d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                            <path d="M3 3.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3 6a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9A.5.5 0 0 1 3 6zm0 2.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5z"/>
                        </svg>
                        <span th:text="${restaurant.introduce}"></span>
                    </div>
                    <label for="introduce" class="border-bottom mb-1" style="font-size:11pt; color:dimgray;">별점</label>
                    <div class="d-flex align-items-center mb-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="red"
                             class="bi bi-star-fill me-1" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                        </svg>
                        <span style="font-size:13pt;" th:text="${#numbers.formatDecimal(averageStar, 1, 1)}"></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- 예약 폼 -->
        <div class="card" style="width:28%;">
            <div class="card-header fs-4 fw-bold" style="background:linen;">예약하기</div>
            <div class="card-body">
                <div class="card-text">
                    <div class="my-3">
                        <label for="datepicker" class="form-label border-bottom">예약 날짜</label>
                        <div class="input-group">
                            <button type="button" id="datepicker" class="버튼 btn">날짜 선택</button>
                            <input type="text" id="selectedDate" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="timepicker" class="form-label border-bottom">예약시간</label>
                        <div class="input-group">
                            <button type="button" id="timepicker" class="버튼 btn">시간 선택</button>
                            <input type="text" id="selectedTime" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="inputCount" class="form-label border-bottom">인원 수</label>
                        <br>
                        <div class="btn-group border" style="width:50%;">
                            <button type="button" class="버튼 btn" onclick="decreaseCount()">-</button>
                            <input type="button" class="btn" id="inputCount" value="1" style="border:1px solid black;">
                            <button type="button" class="버튼 btn" onclick="increaseCount()">+</button>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label border-bottom" for="verify">전화번호 인증</label>
                        <!-- 인증 버튼 -->
                        <div class="mb-3">
                            <button type="button" class="버튼 btn btn-sm me-2"
                                    data-bs-toggle="modal"
                                    data-bs-target="#exampleModal" id="verBtn">
                                전화번호 인증
                            </button>
                            <span style="font-size:13px;">※ '-' 를 제외한 전화번호 11자리를 입력해주세요.</span>
                        </div>
                        <div class="d-flex justify-content-between align-items-start" style="width:70%;">
                            <div style="width:85%;" class="me-1">
                                <input type="text" class="form-control" id="verKey" placeholder="인증번호 입력">
                                <div id="verResult"></div>
                            </div>
                            <input type="button" class="버튼 btn" value="확인" onclick="checkVerificationKey()">
                        </div>
                        <!-- 모달 -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">전화번호 인증</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="text" class="form-control" placeholder="'-' 없이 입력해주세요."
                                               id="phoneNum">
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="버튼 btn" id="verKeyBtn"
                                                onclick="sendMessage()">인증번호 발송
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input id="reserveBtn" type="button" class="버튼 btn" value="예약">
                    </div>
                </div>
            </div>
        </div>
        <!-- 리뷰 -->
        <div class="card" style="border-radius:5px; width:38%;">
            <div class="card-header fs-4 fw-bold" style="background:linen;">리뷰쓰기</div>
            <div class="card-body">
                <div class="card-text">
                    <form th:action="@{|/review/create/${restaurant.id}|}" method="post" id="reviewForm">
                        <div class="my-3">
                            <div class="d-flex align-items-center">
                                <label for="star" class="border-bottom me-1">별점</label>
                                <div id="starCount" style="font-size:10pt; color:gray;"></div>
                            </div>
                            <!-- 별점 선택 -->
                            <input type="hidden" id="star" name="star">
                            <div class="d-flex justify-content-around my-1" id="starScore">
                                <div class="star-container" data-index="1">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                         class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                </div>
                                <div class="star-container" data-index="2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                         class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                </div>
                                <div class="star-container" data-index="3">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                         class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                </div>
                                <div class="star-container" data-index="4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                         class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                </div>
                                <div class="star-container" data-index="5">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                         class="bi bi-star" viewBox="0 0 16 16">
                                        <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <!-- 리뷰 작성 폼 -->
                        <div class="mb-2">
                            <label for="review" class="border-bottom mb-3">리뷰 작성</label>
                            <textarea class="form-control" rows="5" placeholder="로그인 후 이용 가능합니다."
                                      sec:authorize="isAnonymous()" disabled></textarea>
                            <textarea name="comment" id="comment" class="form-control" rows="5"
                                      placeholder="리뷰를 작성해주세요." sec:authorize="isAuthenticated()"></textarea>
                        </div>
                        <div class="d-flex justify-content-end">
                            <input type="button" value="등록" class="버튼 btn btn-sm" id="reviewBtn">
                        </div>
                    </form>
                    <div>
                        <!-- 리뷰 출력 -->
                        <label style="font-size:14pt;" class="border-bottom mb-3"
                               th:text="|작성된 리뷰 (${#lists.size(reviews)})|"></label>
                        <div class="reviewContainer">
                            <div th:each="review : ${reviews}" class="mb-3 border-bottom">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <div class="뱃지 badge me-2">
                                            <div class="d-flex align-items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                     fill="currentColor"
                                                     class="bi bi-person-circle me-1" viewBox="0 0 16 16">
                                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                                    <path fill-rule="evenodd"
                                                          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                                </svg>
                                                <div th:text="${review.user.name}"></div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center me-2">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="red"
                                                 class="bi bi-star-fill me-1" viewBox="0 0 16 16">
                                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                            </svg>
                                            <div th:text="|(${review.star})|"></div>
                                        </div>
                                        <div style="font-size:10pt; color:dimgray;" th:if="${review.modifyDate == null}"
                                             th:text="${#temporals.format(review.regDate, 'MM.dd (E)')}"></div>
                                        <div style="font-size:10pt; color:dimgray;" th:if="${review.modifyDate != null}"
                                             th:text="|${#temporals.format(review.modifyDate, 'MM.dd (E)')} 수정|"></div>
                                    </div>
                                    <div class="d-flex justify-content-end p-1 ms-5" style="font-size:10pt;"
                                         sec:authorize="isAuthenticated()"
                                         th:if="${user.loginId == review.user.loginId}">
                                        <a type="button" th:href="@{|/review/modify/${review.id}|}">수정</a>
                                        <span class="mx-1">|</span>
                                        <a href="javascript:void(0)" th:data-uri="@{|/review/delete/${review.id}|}"
                                           id="deleteBtn">삭제</a>
                                    </div>
                                </div>
                                <div class="d-flex my-2 align-items-center px-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="darkgray"
                                         class="bi bi-arrow-return-right me-1" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                              d="M1.5 1.5A.5.5 0 0 0 1 2v4.8a2.5 2.5 0 0 0 2.5 2.5h9.793l-3.347 3.346a.5.5 0 0 0 .708.708l4.2-4.2a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 8.3H3.5A1.5 1.5 0 0 1 2 6.8V2a.5.5 0 0 0-.5-.5z"/>
                                    </svg>
                                    <div th:text="${review.comment}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form action="" method="post" id="reviewModifyForm">
            <input type="hidden" id="modifyStar" name="modifyStar">
            <input type="hidden" id="modifyComment" name="modifyComment">
        </form>
        <form th:action="@{|/reserve/${restaurant.id}|}" method="post" id="reserveForm">
            <input type="hidden" id="date" name="date">
            <input type="hidden" id="time" name="time">
            <input type="hidden" id="count" name="count">
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/flatpickr.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr@4.6.6/dist/l10n/ko.js"></script>
    <script src="/starScore.js"></script>
    <script layout:fragment="script" type='text/javascript' th:inline="javascript">

        const deleteReview = document.querySelectorAll("#deleteBtn");
        Array.from(deleteReview).forEach(function(element) {
            element.addEventListener('click', function() {
                if (confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri;
                };
            });
        });

        const review = document.getElementById("reviewBtn");
        review.addEventListener('click', function() {
            if (document.querySelector("#star").value == "")
                alert("별점을 입력해주세요.");
            else if (document.querySelector("#comment").value == "")
                alert("리뷰 내용을 입력해주세요.");
            else
                document.querySelector("#reviewForm").submit();
        });

        const reserve = document.getElementById("reserveBtn");
            reserve.addEventListener('click', function() {
                if (document.getElementById('selectedDate').value == "")
                    alert("예약 날짜를 선택해주세요.");
                else if (document.getElementById('selectedTime').value == "")
                    alert("예약 시간을 선택해주세요.");
                else if (document.getElementById('inputCount').value == "")
                    alert("인원 수를 선택해주세요.");
                else if (!document.getElementById('verResult').classList.contains('valid-feedback'))
                    alert("인증이 완료되지 않았습니다.");
                else {
                    alert("예약이 완료되었습니다.");
                    document.getElementById('date').value = document.getElementById('selectedDate').value;
                    document.getElementById('time').value = document.getElementById('selectedTime').value;
                    document.getElementById('count').value = document.getElementById('inputCount').value;
                    document.getElementById('reserveForm').submit();
                }
            });
        document.getElementById('copyAddress').addEventListener('click', function() {
            const textToCopy = this.innerText;
            const tempInput = document.createElement('input');
            tempInput.value = textToCopy;
            document.body.appendChild(tempInput);
            tempInput.select();
            document.execCommand('copy');
            document.body.removeChild(tempInput);

            alert('텍스트가 클립보드에 복사되었습니다.');
        });

        document.addEventListener("DOMContentLoaded", function() {
            // 현재 날짜와 시간 설정
            var currentDate = new Date();

            // 예약 날짜 선택
            flatpickr("#datepicker", {
                enableTime: false,
                locale: "ko",
                minDate: "today", // 오늘 날짜부터 선택 가능
                maxDate: new Date().fp_incr(30), // 30일 이내로 선택 가능
                onChange: function(selectedDates, dateStr, instance) {
                    document.getElementById("selectedDate").value = dateStr;

                    // 예약 시간의 minTime 업데이트
                    updateMinTime(dateStr);
                }
            });

            // 예약 시간 선택
            flatpickr("#timepicker", {
                enableTime: true,
                noCalendar: true,
                dateFormat: "H:i",
                locale: "ko",
                minTime: [[${restaurant.startTime}]],
                maxTime: [[${restaurant.endTime}]],
                onChange: function(selectedDates, dateStr, instance) {
                    document.getElementById("selectedTime").value = dateStr;
                }
            });

            function updateMinTime(selectedDate) {
                // 선택된 날짜가 오늘이면서 현재 시간 이후의 시간을 계산
                var minTime = (selectedDate === flatpickr.formatDate(currentDate, "Y-m-d")) ?
                    (currentDate.getHours() + ":" + currentDate.getMinutes()) :
                    [[${restaurant.startTime}]];

                // 예약 시간의 minTime을 업데이트
                document.getElementById("timepicker")._flatpickr.set("minTime", minTime);
            }
        });

        function sendMessage() {
            var phoneNumber = document.getElementById("phoneNum").value;
            if (phoneNumber == "")
                alert("전화번호를 입력해주세요.");
            else {
                // URL 매개변수를 사용하여 서버로 전화번호를 보내는 GET 요청
                var xhr = new XMLHttpRequest();
                xhr.open("GET", "/send?phoneNumber=" + encodeURIComponent(phoneNumber), true);

                // 서버에서 응답을 받으면 콘솔에 출력
                xhr.onreadystatechange = function () {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        // 응답이 완료되면 modal을 닫음
                        $('#exampleModal').modal('hide');
                        // 새로운 인증번호를 받아오기 위해 requestVerificationKey 함수 호출
                        requestVerificationKey();
                    }
                };

                xhr.send();
            }
        }

        var serverVerKey; // 전역 변수로 선언

        // 서버에서 인증번호를 가져오는 함수
        function requestVerificationKey() {
            $.ajax({
                url: "/sendVerKey",
                type: "GET",
                data: { timestamp: new Date().getTime() },
                success: function (response) {
                    serverVerKey = response.verKey;
                    console.log(serverVerKey);
                },
                error: function () {
                    console.error("인증번호를 가져오는 중에 오류가 발생했습니다.");
                }
            });
        }

        $("#verKeyBtn").click(function () {
            // 인증번호 입력란 초기화
            document.getElementById("verKey").value = "";
            // 새로운 인증번호를 받아오기 위해 requestVerificationKey 함수 호출
            requestVerificationKey();
        });

        // 페이지 로드 시에도 최초 한 번은 인증번호를 가져오도록 호출
        $(document).ready(function () {
            requestVerificationKey();
        });

        // 인증번호를 체크하는 함수
        function checkVerificationKey() {
            var enteredKey = document.getElementById("verKey").value;
            console.log(serverVerKey);
            console.log(enteredKey);

            if (enteredKey === serverVerKey) {
                document.getElementById("verKey").classList.remove("is-invalid");
                document.getElementById("verKey").classList.add("is-valid");
                document.getElementById("verResult").classList.remove("invalid-feedback");
                document.getElementById("verResult").classList.add("valid-feedback");
                document.getElementById("verResult").textContent = "인증 완료되었습니다.";
            } else {
                document.getElementById("verKey").classList.add("is-invalid");
                document.getElementById("verResult").classList.add("invalid-feedback");
                document.getElementById("verResult").textContent = "인증번호가 일치하지 않습니다.";
            }
        }

        let count = 1;

        function updateCount() {
            document.getElementById("inputCount").value = count;
        }

        function increaseCount() {
            count++;
            updateCount();
        }

        function decreaseCount() {
            if (count > 1) {
                count--;
                updateCount();
            }
        }
    </script>
</div>
</html>