<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="card" style="border-radius:5px; width:38%; height:80vh; margin:0 auto;">
        <div class="card-header fs-4 fw-bold" style="background:linen;">리뷰 수정</div>
        <div class="card-body">
            <div class="card-text">
                <form th:action="@{|/review/modify/${review.id}|}" method="post" id="reviewForm"
                      enctype="multipart/form-data">
                    <div class="my-3">
                        <div class="d-flex align-items-center">
                            <label for="star" class="border-bottom me-1">별점</label>
                            <div id="starCount" style="font-size:10pt; color:gray;"></div>
                        </div>
                        <!-- 별점 선택 -->
                        <input type="hidden" id="star" name="star">
                        <div class="d-flex justify-content-around my-1" id="starScore">
                            <div class="star-container" data-index="1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                     class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </div>
                            <div class="star-container" data-index="2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                     class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </div>
                            <div class="star-container" data-index="3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                     class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </div>
                            <div class="star-container" data-index="4">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                     class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </div>
                            <div class="star-container" data-index="5">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="gold"
                                     class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="image" class="border-bottom mb-2">사진 첨부</label>
                        <input type="file" accept="image/*" required multiple style="display:none;" class="upload1"
                               name="image1">
                        <input type="file" accept="image/*" required multiple style="display:none;" class="upload2"
                               name="image2">
                        <input type="file" accept="image/*" required multiple style="display:none;" class="upload3"
                               name="image3">
                        <div class="d-flex justify-content-around">
                            <div style="width:21%;">
                                <img class="clickUpload1" th:if="${review.image1 != null}" th:src="@{${review.image1}}"
                                     alt=""
                                     style="width:100%; height:115px; border:2px solid tan; border-radius:10px; margin-bottom:5px;">
                                <img class="clickUpload1" th:if="${review.image1 == null}" src="/image/inputImage.jpg"
                                     alt=""
                                     style="width:100%; height:115px; border:2px solid tan; border-radius:10px; margin-bottom:5px;">
                                <div id="fileName1" class="px-2 p-1"
                                     style="border-radius:10px; font-size:11pt; background:peachpuff; border:1px solid tan;">
                                    파일 선택
                                </div>
                            </div>
                            <div style="width:21%;">
                                <img class="clickUpload2" th:src="@{${review.image2}}" alt="" th:if="${review.image2 != null}"
                                     style="width:100%; height:115px; border:2px solid tan; border-radius:10px; margin-bottom:5px;">
                                <img class="clickUpload2" th:if="${review.image2 == null}" src="/image/inputImage.jpg"
                                     alt=""
                                     style="width:100%; height:115px; border:2px solid tan; border-radius:10px; margin-bottom:5px;">
                                <div id="fileName2" class="px-2 p-1"
                                     style="border-radius:10px; font-size:11pt; background:peachpuff; border:1px solid tan;">
                                    파일 선택
                                </div>
                            </div>
                            <div style="width:21%;">
                                <img class="clickUpload3" th:src="@{${review.image3}}" alt="" th:if="${review.image3 != null}"
                                     style="width:100%; height:115px; border:2px solid tan; border-radius:10px; margin-bottom:5px;">
                                <img class="clickUpload3" th:if="${review.image3 == null}" src="/image/inputImage.jpg"
                                     alt=""
                                     style="width:100%; height:115px; border:2px solid tan; border-radius:10px; margin-bottom:5px;">
                                <div id="fileName3" class="px-2 p-1"
                                     style="border-radius:10px; font-size:11pt; background:peachpuff; border:1px solid tan;">
                                    파일 선택
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 리뷰 작성 폼 -->
                    <div class="mb-3">
                        <label for="review" class="border-bottom mb-3">리뷰 작성</label>
                        <textarea name="comment" id="comment" class="form-control" rows="10"
                                  placeholder="리뷰를 작성해주세요." th:text="${review.comment}"></textarea>
                    </div>
                    <div class="d-flex justify-content-end">
                        <input type="button" value="등록" class="버튼 btn" id="reviewBtn">
                    </div>
                </form>
                <div>
                </div>
            </div>
        </div>
    </div>
    <script src="/starScore.js"></script>
    <script src="/imageButton.js"></script>
    <script layout:fragment="script" type='text/javascript'>
        const review = document.getElementById("reviewBtn");
        review.addEventListener('click', function() {
            if (document.querySelector("#star").value == "")
                alert("별점을 입력해주세요.");
            else if (document.querySelector("#comment").value == "")
                alert("리뷰 내용을 입력해주세요.");
            else
                document.querySelector("#reviewForm").submit();
        });
    </script>
</div>
</html>