<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="signupContainer p-5">
        <div style="width:70%; margin:0 auto; background:white; padding:10px;">
            <div class="my-3 border-bottom">
                <div>
                    <h4>회원가입</h4>
                </div>
            </div>
            <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="mb-3">
                    <label for="loginId" class="form-label">로그인ID</label>
                    <input type="text" th:field="*{loginId}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" th:field="*{name}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">비밀번호</label>
                    <input type="password" th:field="*{password1}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">비밀번호 확인</label>
                    <input type="password" th:field="*{password2}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" th:field="*{email}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">회원가입</button>
            </form>
        </div>
    </div>
</div>
</html>