<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <style>
        * {font-family: 'IBM Plex Sans KR', sans-serif;}
    </style>
    <style>
        a {
            color:inherit;
            text-decoration:none;
        }

        a:hover {
            color:sienna;
        }

        .find:hover {
            color:sienna;
        }
    </style>
</head>
<body>
<a th:href="@{/test}" class="btn btn-success position-absolute" style="z-index:99; left:2%; bottom:2%;">테스트 페이지</a>
<div class="d-flex">
    <div id="container">
        <img style="width:100%; height:100vh; opacity:0.5;" src="/image/startImage.jpg"
             class="image d-flex align-items-center justify-content-center">
        <div class="text-center">
            <div class="text d-flex align-items-center justify-content-center">
                <div>
                    <h1 class="logo mb-5"
                        style="font-size:6rem; font-weight:bold; text-shadow:-2px -2px 0 #000, 2px -2px 0 #000,-2px 2px 0 #000, 2px 2px 0 #000;">
                        LOGO</h1>
                    <a href="javascript:void(0)" onclick="searchForAddress();" class="find btn me-3"
                       style="background:peachpuff; border:0.1px solid;">
                        <span class="fw-bold">주소</span>로 맛집 찾기 →</a>
                    <a href="javascript:void(0)" onclick="aroundMe();" class="find btn"
                       style="background:peachpuff; border:0.1px solid;"><span class="fw-bold">내 주변</span> 맛집 찾기 →</a>
                </div>
            </div>
        </div>
    </div>
    <div style="width:30%;" class="d-flex align-items-center justify-content-center">
        <div style="width:60%;">
            <h1 class="border-bottom pb-2 mb-2" style="color:tan; text-shadow:-1px -1px 0 #000, 1px -1px 0 #000,-1px 1px 0 #000, 1px 1px 0 #000;">logo</h1>
            <form id="loginForm" th:action="@{/user/login}" method="post">
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        사용자ID 또는 비밀번호를 확인해 주세요.
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <div style="width:73%;">
                        <div class="mb-3">
                            <input type="text" name="username" id="username" placeholder="ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="password" name="password" id="password" placeholder="Password"
                                   class="form-control">
                        </div>
                    </div>
                    <input type="submit" class="btn mb-3" value="로그인" id="loginBtn">
                </div>
                <br>
                <div class="mb-3">
                    <a href="/oauth2/authorization/google" class="btn btn-outline-primary fw-bold" style="width:100%">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
                             alt="">
                        구글 로그인</a>
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/naver" class="btn btn-outline-success fw-bold" style="width:100%">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkGPv5_VNnO1SFnZNADXZ9972iiFmdMuLPC6r1e_MBDNMVOyPhchKn9wiCl10FaHE3eBo&usqp=CAU"
                             alt="">
                        네이버 로그인</a>
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/kakao" class="btn btn-outline-warning fw-bold" style="width:100%">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://cdn.imweb.me/thumbnail/20220403/a8e484f2dfe39.png"
                             alt="">
                        카카오 로그인</a>
                </div>

            </form>
            <form id="signupForm" th:action="@{/user/signup}" style="display: none;" th:object="${userCreateForm}"
                  method="post">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="form-floating mb-3">
                    <input th:field="*{loginId}" placeholder="Leave a comment here" class="form-control" id="loginId">
                    <label for="loginId">아이디</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" th:field="*{name}" class="form-control" placeholder="Leave a comment here"
                           id="name">
                    <label for="name">이름</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" th:field="*{password1}" class="form-control"
                           placeholder="Leave a comment here" id="password1">
                    <label for="password1">비밀번호</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" th:field="*{password2}" class="form-control"
                           placeholder="Leave a comment here">
                    <label for="password2">비밀번호 확인</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" th:field="*{email}" class="form-control" placeholder="Leave a comment here">
                    <label for="email">이메일</label>
                </div>
                <select th:field="*{authority}" class="form-select">
                    <option value="" selected>권한을 선택하세요.</option>
                    <option value="손님">손님</option>
                    <option value="사장님">사장님</option>
                </select>
                <br>
                <button type="submit" class="btn" id="signupBtn">회원가입</button>
            </form>
            <br>
            <div class="d-flex justify-content-around">
                <a href="#" onclick="showForm('loginForm')" id="loginLink">로그인</a>
                <a href="#" onclick="showForm('signupForm')" id="signupLink">회원가입</a>
                <a th:href="@{user/findPw}" >비밀번호 찾기</a>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/interprocess}" method="get" id="searchAddress">
    <input type="hidden" id="inputAddress" name="inputAddress">
</form>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function searchForAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                document.querySelector('#inputAddress').value = data.address;
                document.querySelector('#searchAddress').submit();
            }
        }).open();
    }

    window.onload = function() {
        showForm('loginForm');
    };

    function showForm(formId) {
        document.getElementById('loginForm').style.display = 'none';
        document.getElementById('signupForm').style.display = 'none';

        document.getElementById(formId).style.display = 'block';

        if (formId === 'signupForm') {
            document.getElementById('loginLink').style.display = 'inline';
            document.getElementById('signupLink').style.display = 'none';

        } else {
            document.getElementById('loginLink').style.display = 'none';
            document.getElementById('signupLink').style.display = 'inline';
        }
    }
    function aroundMe() {
        document.querySelector('#inputAddress').value = 'aroundMe';
        document.querySelector('#searchAddress').submit();
    }
</script>
</body>
</html>