<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css" type="text/css">
    <link rel="stylesheet" href="/bootstrap.min.css" type="text/css">
</head>
<body>
<div class="d-flex">
    <div id="container">
        <img style="width:100%; height:100vh; opacity:0.5;" src="/startImage.jpg"
             class="image d-flex align-items-center justify-content-center">
        <div class="text-center">
            <div class="text">
                <h1 class="mb-3" style="font-size:5rem; font-weight:bold;">logo</h1>
                <a href="javascript:void(0)" onclick="searchForAddress();">
                    주소로 맛집 찾기 →</a>
                <br>
                <a href="javascript:void(0)" onclick="aroundMe();">내 주변 맛집 찾기 →</a>
            </div>
        </div>
    </div>
    <div style="width:30%;" class="d-flex align-items-center justify-content-center">
        <div style="width:60%;">
            <h1 class="border-bottom pb-2 mb-2">logo</h1>
            <form id="loginForm">
                <div class="d-flex justify-content-between align-items-center">
                    <div style="width:73%;">
                        <div class="mb-3">
                            <input type="text" placeholder="ID" class="form-control">
                        </div>
                        <div class="mb-3">
                            <input type="password" placeholder="Password" class="form-control">
                        </div>
                    </div>
                    <input type="submit" style="width:25%; height:100px; background:lightsalmon;" class="btn mb-3"
                           value="로그인">
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/google" class="btn btn-outline-primary fw-bold" style="width:100%">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://cdn-icons-png.flaticon.com/512/2991/2991148.png"
                             alt="">
                        구글 로그인</a>
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/naver" class="btn btn-outline-success fw-bold" style="width:100%">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkGPv5_VNnO1SFnZNADXZ9972iiFmdMuLPC6r1e_MBDNMVOyPhchKn9wiCl10FaHE3eBo&usqp=CAU"
                             alt="">
                        네이버 로그인</a>
                </div>
                <div class="mb-3">
                    <a href="/oauth2/authorization/kakao" class="btn btn-outline-warning fw-bold" style="width:100%">
                        <img class="me-1" style="width:auto; height:20px;"
                             src="https://cdn.imweb.me/thumbnail/20220403/a8e484f2dfe39.png"
                             alt="">
                        카카오 로그인</a>
                </div>
            </form>
            <form id="signupForm" th:action="@{/user/signup}" style="display: none;" th:object="${userCreateForm}" method="post">
                <div th:replace="~{form_errors :: formErrorsFragment}"></div>
                <div class="mb-3">
                    <label for="loginId" class="form-label">로그인ID</label>
                    <input type="text" th:field="*{loginId}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="name" class="form-label">이름</label>
                    <input type="text" th:field="*{username}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password1" class="form-label">비밀번호</label>
                    <input type="password" th:field="*{password1}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="password2" class="form-label">비밀번호 확인</label>
                    <input type="password" th:field="*{password2}" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">이메일</label>
                    <input type="email" th:field="*{email}" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">회원가입</button>
            </form>
            <div class="d-flex justify-content-around">
                <a href="#" onclick="showForm('loginForm')" id="loginLink">로그인</a>
                <a href="#" onclick="showForm('signupForm')" id="signupLink">회원가입</a>
                <a href="#">비밀번호 찾기</a>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/map/view}" method="get" id="searchAddress">
    <input type="hidden" id="inputAddress" name="inputAddress">
</form>
<script th:src="@{/bootstrap.bundle.min.js}"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    function searchForAddress() {
        new daum.Postcode({
            oncomplete: function(data) {
                document.querySelector('#inputAddress').value = data.address;
                document.querySelector('#searchAddress').submit();
            }
        }).open();
    }
    window.onload = function() {
        showForm('loginForm');
    };

    function showForm(formId) {
        document.getElementById('loginForm').style.display = 'none';
        document.getElementById('signupForm').style.display = 'none';

        document.getElementById(formId).style.display = 'block';

        if (formId === 'signupForm') {
            document.getElementById('loginLink').style.display = 'inline';
            document.getElementById('signupLink').style.display = 'none';

        } else {
            document.getElementById('loginLink').style.display = 'none';
            document.getElementById('signupLink').style.display = 'inline';
        }
    }
    function aroundMe() {
        document.querySelector('#inputAddress').value = 'aroundMe';
        document.querySelector('#searchAddress').submit();
    }
</script>
</body>
</html>