<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>parser</title>
</head>
<body>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ea7706d3cd280b86aceebdabe80d16f0&libraries=services"></script>
<script>
    var places = new kakao.maps.services.Places();

    var callback = function(result, status) {
        if (status === kakao.maps.services.Status.OK) {
            console.log(result);
        }
    };

    // 공공기관 코드 검색
    places.categorySearch('FD6', callback, {
        location: new kakao.maps.LatLng(37.564968, 126.939909)
    });
</script>
</body>
</html>