<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <div class="top_bar bg-danger bg-opacity-25"
         style="position:relative; width:100%; height:150px; border-radius:10px;">
        <div style="display:flex; position:absolute; top:18%; right:2%;">
            <div style="display:flex; align-items:center; font-family: 'Gugi', sans-serif; margin-right:15px;">
                <div th:text="${siteUser.nickname}" style="font-weight:bold; font-size:3rem; margin-right:5px;"></div>
                <div style="font-size:2rem;">님</div>
            </div>
            <img class="userImage" th:src="@{${siteUser.imgUrl}}" alt="">
        </div>
    </div>
    <div class="d-flex">
        <div style="background:linen; width:70%; display:flex; justify-content:center; align-items:center; border-radius:10px;"
             th:if="${#lists.size(siteUser.postList) == 0}">
            <p class="fs-3 fw-bold" style="color:silver;">게시물 없음</p>
        </div>
        <div style="background:linen; width:70%; text-align:center; overflow: auto;"
             th:if="${#lists.size(siteUser.postList) > 0}">
            <div class="d-flex flex-wrap justify-content-start" style="width:100%;">
                <div th:each="post : ${siteUser.postList}" id="user_post">
                    <div th:text="${post.subject}"></div>
                    <div class="overlay">
                        <div style="font-size:14pt; font-weight:bold;" th:text="${post.subject}"></div>
                        <p th:text="${post.content}"
                           style="overflow:hidden; white-space:nowrap; text-overflow:ellipsis; max-width:200px;"></p>
                        <div style="font-size:11pt;"
                             th:text="${#temporals.format(post.createDate, 'yyyy-MM-dd')}"></div>
                    </div>
                    <input type="hidden" th:value="${post.id}" id="post_id">
                </div>
            </div>
        </div>
        <div style="background:pink; width:30%; height:55vh; padding:10px; border-radius:5px;">
            <div class="d-flex align-items-center my-2">
                <form th:action="@{|/user/subscribe/${siteUser.username}|}" sec:authorize="isAuthenticated()"
                      th:if="${user.username != siteUser.username}" method="post" class="subscribe">
                    <input type="submit" class="btn btn-light text-dark fw-bold me-2" value="구독">
                </form>
                <div class="btn btn-light text-dark fw-bold" th:text="${siteUser.email}"></div>
            </div>
            <div style="margin-bottom:5px; border-radius:10px; padding:10px; background:white; padding-left:20px;">
                <div class="border-bottom" style="font-size:15pt; font-weight:bold;">별명</div>
                <div style="font-size:13pt;" th:text="${siteUser.nickname}"></div>
            </div>
            <div style="border-radius:10px; padding:10px; background:white; padding-left:20px; margin-bottom:5px;">
                <div class="border-bottom" style="font-size:15pt; font-weight:bold;">생일</div>
                <div style="font-size:13pt;" th:text="${siteUser.birthDate}"></div>
            </div>
            <div style="border-radius:10px; padding:10px; background:white; padding-left:20px; margin-bottom:5px;">
                <div class="border-bottom" style="font-size:15pt; font-weight:bold;">가입일</div>
                <div style="font-size:13pt;" th:text="${#temporals.format(siteUser.joinDate, 'yyyy-MM-dd')}"></div>
            </div>
        </div>
    </div>
    <script>
        document.querySelectorAll("#user_post").forEach(function(postElement) {
            postElement.addEventListener('click', function() {
                var postId = postElement.querySelector("#post_id").value;
                window.location.href = "/post/detail/" + postId;
            });
        });

        const subscribe_elements = document.getElementsByClassName("subscribe");
            Array.from(subscribe_elements).forEach(function(element) {
                element.addEventListener('click', function() {
                    if(confirm("정말로 구독하시겠습니까?")) {
                        location.href = this.dataset.uri;
                    };
                });
            });
    </script>
</div>
</html>